body {
  background-image: url("../image/img1.jpg");
  background-size: cover;
}

.jumbotron {
  align-content: center;
  width: 60%;
}

.jumbotron h1 {
  text-align: center;
}

.player-console {
  display: none;
}

#end h2, p {
  color: white;
}
