body {
  background-image: url("../image/img1.jpg");
  background-size: cover;
}

#commence h1, h2 {
  text-align: center;
  color: white;
}

input {
  width: 40%;
}

.player-console {
  display: none;
}

#end h2, p {
  color: white;
}
