body {
  background-image: url("../image/img1.jpg");
  background-size: cover;
}

header h1, h2 {
  text-align: center;
  color: white;
}

input {
  width: 40%;
}

.player-console {
  display: none;
}

#end h2, p {
  color: black;
  text-align: left;
}

#end #new-game {
  position: relative;
  left: 40%;
}

.well {
  width: 65%;
}
